<h1><center>Laboratorio 4: El Pandas no muerde (act. I) 游냪</center></h1>

<center><strong>MDS7202: Laboratorio de Programaci칩n Cient칤fica para Ciencia de Datos</strong></center>

### Cuerpo Docente:

- Profesor: Pablo Badilla y Ignacio Meza D.
- Auxiliar: Sebasti치n Tinoco
- Ayudante: Felipe Arias y Diego Cortez

### Equipo: SUPER IMPORTANTE - notebooks sin nombre no ser치n revisados

- Nombre de alumno 1: Diego Dominguez
- Nombre de alumno 2: Arturo Lazcano

### **Link de repositorio de GitHub:** `https://github.com/DDominguezD/MDS7202`

### Reglas:

- **Grupos de m치ximo 2 personas**
- Asistencia **obligatoria** a instrucciones del lab (viernes 16.15). Luego, pueden quedarse trabajando en las salas o irse.
- **No se revisar치n entregas de personas ausentes**. 
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser치n respondidos por este medio.
- Prohibidas las copias. 
- Pueden usar cualquer matrial del curso que estimen conveniente.

### Temas a tratar

- Introducci칩n al manejo de datos tabulares por medio de la libreria `pandas`.

### Objetivos principales del laboratorio

- Entender, aplicar y aprovechar las ventajas que nos ofrece la libreria `pandas` para manejar datos tabulares.
- Aprender a utilizar la documentaci칩n de pandas (y en general, de cualquier librer칤a de python) como tambi칠n a buscar soluciones en la web.

> **Nota**: El laboratorio deber치 ser desarrollado sin el uso indiscriminado de iteradores nativos de python (aka "for", "while"). La idea es que aprendan a exprimir al m치ximo las funciones optimizadas que nos entrega `pandas`, las cuales vale mencionar, son bastante m치s eficientes que los iteradores nativos sobre DataFrames.

### Librerias utiles para el Lab 游땾

In [1]:
# Libreria Core del lab.
import numpy as np
import pandas as pd
from IPython.display import display

#Libreria para plotear
!pip install --upgrade plotly
import plotly.express as px
import plotly.graph_objects as go

# Librerias utiles
from sklearn.preprocessing import StandardScaler

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.14.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (23.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.2)

# 1. Rendimiento en Estudiantes 游닄

Para este laboratorio deber치n trabajar con el dataset `students_grades.json` el cual contiene informaci칩n sobre el rendimiento de alumnos en distintos ramos. 
El objetivo principal ser치 el de realizar un trabajo de limpieza de prepraci칩n y exploraci칩n de datos utilizando exclusivamente `DataFrames` y sus m칠todos asociados.

In [2]:
# Si usted est치 utilizando Colabolatory le puede ser 칰til este c칩digo para cargar los archivos.
try:
    from google.colab import drive
    drive.mount("/content/drive")
    path = '/content/drive/MyDrive'
except: 
    print('Ignorando conexi칩n drive-colab')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1.1 Carga e Inspecci칩n de Datos [1.5 Puntos]


<p align="center">
  <img src="https://drive.google.com/uc?export=view&id=1hZZaPQlZe4VupFOXt76_wjuUA5NpUhrw" width="300" height="300">
</p>

*Don Caguayo*, rector de la Universidad de la Cacha침a, les comenta que actualmente la Universidad no tiene una subdirecci칩n de an치lisis de datos, pero que tiene un gran inter칠s en formar una. Es por esto, que se contacta con ud. y su equipo para iniciar de forma exploratoria diversas tareas de an치lisis y consolidaci칩n de datos respectivos al rendimiento de sus alumnos.

Previo a su primera reuni칩n con el rector, el rector le env칤a una copia de la base de datos, la cu치l a usted y su equipo le encantar칤a examinar. Para esto, la primera tarea que debe realizar es abrir y cargar el dataset. 


> **Notar que es sumamente importante el formato que posee cada columna** para su manipulaci칩n y que posiblemente ustedes deber치n especificar algunos tipos de datos a mano. Ver la documentaci칩n del m칠todo `read_json` para mayor informaci칩n.

A continuaci칩n se muestra un ejemplo de los dos primeros registros del dataset:

```json
[
  {
    "names": "Rita Courtney",
    "gender": "female",
    "race/ethnicity": "group B",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 37,
    "reading score": 46,
    "writing score": 46
  },
  {
    "names": "Madeline Fuller",
    "gender": "female",
    "race/ethnicity": "group C",
    "parental level of education": "some high school",
    "lunch": "standard",
    "test preparation course": "none",
    "math score": 124,
    "reading score": 142,
    "writing score": 142
  }
]
```

In [3]:
# Lectura dataframe
df_grades = pd.read_json('/content/drive/MyDrive/students_grades.json')
df_grades

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166
...,...,...,...,...,...,...,...,...,...
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76


<p align="center">
  <img src="https://i.giphy.com/media/4FQMuOKR6zQRO/giphy.webp">
</p>


Posteriormente, el rector les comenta que la secci칩n de TI posee una base de datos con m치s de **875** filas, en donde cada fila representa un alumno matriculado. Sin embargo, cree fuertemente que existen errores en esta: solo tiene registro de **875** matriculas. Por este motivo, especula que se han realizado malas pr치cticas al registrar dichos datos.

En consecuencia, el rector les solicita a ustedes como tarea inicial que exploren la base de datos y encuentre posibles falencias dentro de sus registros. Para esto, usted debe estar al tanto que las notas est치n en una escala que van del **0 al 100** (porcentaje de logro) y **no es posible que un alumno haya dado m치s de una vez el mismo examen**. Cualquier alumno que posea un valor diferente a esta escala, deber칤a ser eliminado de la base de datos.

> **Instrucciones**

**Cree una funci칩n** que tome un `DataFrame` y que le permita revisar si las diferentes variables que lo componen son coherentes y si es posible observar anomal칤as en estas. 

**To-Do**
1. [ ] Imprimir un mensaje con las dimensiones del Dataframe.
2. [ ] Imprimir un mensaje con los nombres de las columnas que conforman el DataFrame.
3. [ ] Mostrar los primeros 5, los 칰ltimos 5 elementos del DataFrame y realice un muestreo de 5 elementos de forma aleatoria.
4. [ ] Mostrar una descripci칩n r치pida de las variables num칠ricas del DataFrame (utilice un m칠todo visto en clases).
5. [ ] Imprimir un mensaje con la cantidad de valores nulos (investigue el m칠todo `isna()` y `sum()` de los DataFrames).
6. [ ] Imprimir un mensaje que detalle la cantidad de valores unicos (investigue `nunique()`) .
7. [ ] Imprimir un mensaje con el total de filas que contengan nombres duplicados (investigue `duplicated()` y su par치metro `subset`).
8. [ ] Mostrar las filas que contengan nombres sean duplicados (investigue `duplicated()` y su par치metro `subset`).
9. [ ] A traves de `.plot.box()` plotear el boxplot de las notas. De ser necesario, invetigue como funcionan los gr치ficos de caja (esta secci칩n es provista).
10. [ ] Finalmente responda la siguiente pregunta:

> 쯈ue anomalias es posible observar de los datos que componen el DataFrame? 쮼xisten valores nulos o duplicados? 쯈u칠 puede interpretar de la distribuci칩n de las notas en el boxplot? (), comente esto en la celda ubicada debajo de **justificaci칩n**.

> **Nota:** Para imprmir utilice `print(...)`. Para mostrar `DataFrames`, utilice `display(...)` ya que este permite mostrar estos elementos como tablas.

> **Nota 2:** Utilice la documentaci칩n de [pandas](https://pandas.pydata.org/docs/index.html) como tambi칠n StackOverflow para resolver cualquier problema o inconveniente.

> **Nota 3:** Si no ha trabajado con boxplot antes, el siguiente link puede serle de mucha ayuda: [boxplot](https://medium.com/dayem-siddiqui/understanding-and-interpreting-box-plots-d07aab9d1b6c)

**Respuesta:**

In [4]:
# An치lisis exploratorio
def exploratory_data_analysis(dataframe):
    """Realiza un an치lisis del dataframe centrado en sus dimensiones, ejemplos de muestras,
    valores nulos, 칰nicos y duplicados como un gr치fico de notas.

    Parameters
    ----------
    dataframe : pandas.dataframe
        Base de datos a realizar el an치lisis exploratorio
    """
    # Dimensiones dataframe
    print(f'1.- El DataFrame tiene {len(dataframe)} filas y {len(dataframe.columns)} columnas \n')
    # Nombre coolumnas
    print('2.- El DataFrame esta compuesto por las siguientes columnas: ', list(dataframe.columns), '\n')
    # Algunas muestras de filas
    print('3.- Ejemplos de filas del DataFrame: \n')
    print('Primeras 5 filas: \n')
    display(dataframe.head(5))
    print('\n 칔ltimas 5 filas: \n')
    display(dataframe.tail(5))
    print('\n Muestreo aleatorio de 5 filas: \n')
    display(dataframe.sample(5))
    # Descripci칩n
    print('\n 4.- Descripci칩n num칠rica del Dataframe: \n')
    df_aux=dataframe[['math score', 'reading score', 'writing score']]
    display(df_aux.apply(pd.to_numeric).describe())
    # Cantidad de valores nulos ('' en este caso)
    print('\n 5.- Cantidad de valores nulos por columna: \n')
    df = dataframe.replace('', np.nan, inplace=False)
    display(df.isna().sum())
    # Cantidad de valores 칰nicos
    print('\n 6.- Cantidad de valores 칰nicos por columna: \n')
    display(df.nunique())
    # Cantidad de nombres dupicados
    duplicados = dataframe.duplicated(subset=['names'], keep='first').sum()
    print(f'\n 7.- Presenta un total de {duplicados} filas con nombres duplicados.')
    # Filas de nombres duplicados
    print('\n 8.- Las filas con nombres duplicados son: \n')
    display(dataframe[dataframe['names'].duplicated(keep='first')])
    # Boxplot de notas por ramo
    print('\n 9.- Boxplot de notas: \n')
    fig = go.Figure()
    fig.add_trace(go.Box(y=dataframe['math score'], name="math"))
    fig.add_trace(go.Box(y=dataframe['reading score'], name="reading"))
    fig.add_trace(go.Box(y=dataframe['writing score'], name="writing"))
    fig.update_layout(yaxis_title='Score', xaxis_title='Subject')
    fig.show()

**Justificaci칩n:**

```
Escriba aqu칤 su justificaci칩n
```

Se puede observar tras el analisis exploratorio que hay 247 nombre duplicados. Tambi칠n se encuentran registros de notas incorrectas de la forma ' ' (string vac칤o) en lugar de valores n칰mericos. Tras reemplazar estas casillas por valores nulos se encontro que hab칤a 127 datos nulos en las columnas asociadas a las notas. Por 칰ltimo, con el boxplot se puede visualizar que hay unas cuantas notas fuera de la escala 0 a 100.

In [5]:
exploratory_data_analysis(df_grades)

1.- El DataFrame tiene 1400 filas y 9 columnas

2.- El DataFrame esta compuesto por las siguientes columnas:  ['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

3.- Ejemplos de filas del DataFrame:

Primeras 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166

 칔ltimas 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76

 Muestreo aleatorio de 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
771,Alex Estimable,male,group C,high school,standard,completed,58,52,54
449,Tracy Fowler,female,group E,associate's degree,standard,none,84,95,92
1103,Charles Hopson,male,group C,associate's degree,free/reduced,none,77,67,64
334,Nancy Ramos,female,group A,some college,standard,completed,78,87,91
15,Gerald Wilson,male,group A,associate's degree,standard,none,63,61,61

 4.- Descripci칩n num칠rica del Dataframe:

        math score  reading score  writing score
count  1360.000000    1360.000000    1353.000000
mean     89.538971      93.086029      91.852919
std      47.152422      46.385775      47.043570
min       0.000000      17.000000      10.000000
25%      59.000000      63.000000      62.000000
50%      72.000000      76.000000      75.000000
75%      97.250000     100.000000     100.000000
max     196.000000     196.000000     196.000000

 5.- Cantidad de valores nulos por columna:

names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

 6.- Cantidad de valores 칰nicos por columna:

names                          1153
gender                            2
race/ethnicity                    5
parental level of education       6
lunch                             2
test preparation course           2
math score                       96
reading score                    88
writing score                    92
dtype: int64

 7.- Presenta un total de 247 filas con nombres duplicados.

 8.- Las filas con nombres duplicados son:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
12,Rita Courtney,female,group B,some high school,standard,none,193,193,193
81,Elizabeth Quintero,female,group B,some college,standard,none,82,85,87
160,Michelle Gonzales,female,group B,some high school,standard,completed,60,70,74
170,Carla Mendoza,female,group D,associate's degree,free/reduced,none,43,60,58
176,Darlene Parker,female,group C,associate's degree,standard,none,54,61,58
...,...,...,...,...,...,...,...,...,...
1385,James Crawford,male,group D,master's degree,standard,none,193,147,131
1390,Gloria Bradford,female,group B,high school,standard,none,124,64,193
1393,Adam Romero,male,group C,high school,standard,completed,124,193,49
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193

 9.- Boxplot de notas:

**Respuesta Esperada:**

In [6]:
exploratory_data_analysis(df_grades)

1.- El DataFrame tiene 1400 filas y 9 columnas

2.- El DataFrame esta compuesto por las siguientes columnas:  ['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

3.- Ejemplos de filas del DataFrame:

Primeras 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37,46,46
1,Madeline Fuller,female,group C,some high school,standard,none,124,142,142
2,Daniel Rester,male,group E,associate's degree,standard,none,156,196,193
3,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80,78,81
4,Geraldine Hale,female,group A,associate's degree,standard,none,131,166,166

 칔ltimas 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1396,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66,74,81
1397,Laurie Carter,female,group B,some high school,standard,completed,54,61,62
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193
1399,Amanda Perez,female,group A,high school,standard,completed,68,80,76

 Muestreo aleatorio de 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
928,Andrew Bledsoe,male,group E,some college,standard,completed,124,142,193
424,Julia Nicole,female,group B,some high school,free/reduced,completed,52,67,72
356,Andrea Mcdavid,female,group C,associate's degree,standard,none,40,59,51
471,Jamie Jackson,male,group C,associate's degree,standard,completed,78,77,77
616,Robin Flores,female,group D,high school,standard,none,142,142,193

 4.- Descripci칩n num칠rica del Dataframe:

        math score  reading score  writing score
count  1360.000000    1360.000000    1353.000000
mean     89.538971      93.086029      91.852919
std      47.152422      46.385775      47.043570
min       0.000000      17.000000      10.000000
25%      59.000000      63.000000      62.000000
50%      72.000000      76.000000      75.000000
75%      97.250000     100.000000     100.000000
max     196.000000     196.000000     196.000000

 5.- Cantidad de valores nulos por columna:

names                           0
gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     40
reading score                  40
writing score                  47
dtype: int64

 6.- Cantidad de valores 칰nicos por columna:

names                          1153
gender                            2
race/ethnicity                    5
parental level of education       6
lunch                             2
test preparation course           2
math score                       96
reading score                    88
writing score                    92
dtype: int64

 7.- Presenta un total de 247 filas con nombres duplicados.

 8.- Las filas con nombres duplicados son:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
12,Rita Courtney,female,group B,some high school,standard,none,193,193,193
81,Elizabeth Quintero,female,group B,some college,standard,none,82,85,87
160,Michelle Gonzales,female,group B,some high school,standard,completed,60,70,74
170,Carla Mendoza,female,group D,associate's degree,free/reduced,none,43,60,58
176,Darlene Parker,female,group C,associate's degree,standard,none,54,61,58
...,...,...,...,...,...,...,...,...,...
1385,James Crawford,male,group D,master's degree,standard,none,193,147,131
1390,Gloria Bradford,female,group B,high school,standard,none,124,64,193
1393,Adam Romero,male,group C,high school,standard,completed,124,193,49
1395,Alexander Dillon,male,group D,associate's degree,standard,none,193,142,193
1398,Joseph Mccoy,male,group D,some college,free/reduced,none,193,196,193

 9.- Boxplot de notas:

## 1.2 Limpieza de Datos [1 punto]

<p align="center">
  <img src="https://blogdatlas.files.wordpress.com/2020/07/datlas_mx_blog_limpieza_bds_data-scrubbing-service.gif">
</p>

En base a lo realizado anteriormente, realice una limpieza de los dataset. Asuma los supuestos se침alados en la pregunta anterior para limpiar el `DataFrame` y cree una funci칩n que le permita limpiar los datos. Habiendo limpiado el `DataFrame`, compruebe nuevamente los datos con la funci칩n creada en la secci칩n 1.1.

**To-Do:**

- [ ] Crear funci칩n que permita limpiar el dataset.
- [ ] Comprobar que no existen anomal칤as en los datos a traves de la funci칩n de la secci칩n 1.1.

**Hint**

Puede ser 칰til los m칠todos ```.drop_duplicates()``` y ```.dropna()``` como tambi칠n utilizar queries con m치scaras booleanas.

**Respuesta:**

In [7]:
# impieza del dataframe
def clean_data(df):
  """Realiza una limpieza de los datos eliminando duplicados, nulos y qued치ndose
  con notas en el rango [0, 100].

    Parameters
    ----------
    df : pandas.dataframe
        Base de datos a limpiar

    Returns
    -------
    df: 
        pd.dataframe ya limpiado
    """
  # Borrar duplicados
  df.drop_duplicates(subset=['names'], keep='first', inplace=True)
  # Reemplazar '' por nan
  df.replace('', np.nan, inplace=True)
  #Borrar nan
  df.dropna(inplace=True)
  # Notas en rango [0,100]
  df = df[df['math score'].between(0, 100)]
  df = df[df['reading score'].between(0, 100)]
  df = df[df['writing score'].between(0, 100)]
  # Rehacer 칤ndice del dataframe
  df = df.reset_index(drop=True)
  return df

In [8]:
df_grades = clean_data(df_grades)
df_grades

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
2,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0
3,Howard Jimenez,male,group E,some high school,standard,completed,81.0,75.0,76.0
4,Wayne Wilson,male,group B,some high school,standard,completed,94.0,86.0,87.0
...,...,...,...,...,...,...,...,...,...
870,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0
871,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0
872,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0
873,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0
874,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0

> Utilice la funci칩n creada en el punto 1.1 para verificar sus resultados.

In [9]:
exploratory_data_analysis(df_grades)

1.- El DataFrame tiene 875 filas y 9 columnas

2.- El DataFrame esta compuesto por las siguientes columnas:  ['names', 'gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']

3.- Ejemplos de filas del DataFrame:

Primeras 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,Rita Courtney,female,group B,some high school,standard,none,37.0,46.0,46.0
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
2,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0
3,Howard Jimenez,male,group E,some high school,standard,completed,81.0,75.0,76.0
4,Wayne Wilson,male,group B,some high school,standard,completed,94.0,86.0,87.0

 칔ltimas 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
870,Richard Young,male,group D,high school,standard,none,69.0,75.0,71.0
871,Wanda Russell,female,group B,high school,free/reduced,completed,23.0,44.0,36.0
872,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,66.0,74.0,81.0
873,Laurie Carter,female,group B,some high school,standard,completed,54.0,61.0,62.0
874,Amanda Perez,female,group A,high school,standard,completed,68.0,80.0,76.0

 Muestreo aleatorio de 5 filas:

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,80.0,78.0,81.0
2,Brian Young,male,group C,some high school,standard,none,73.0,66.0,63.0
405,Valarie Trujillo,female,group C,associate's degree,standard,none,52.0,55.0,57.0
207,David Osteen,male,group C,high school,standard,none,71.0,66.0,65.0
171,Tanya Favela,female,group D,associate's degree,free/reduced,completed,57.0,74.0,76.0

 4.- Descripci칩n num칠rica del Dataframe:

       math score  reading score  writing score
count  875.000000     875.000000     875.000000
mean    66.225143      69.195429      68.114286
std     15.076716      14.629270      15.174220
min      0.000000      17.000000      10.000000
25%     57.000000      59.000000      57.500000
50%     66.000000      70.000000      69.000000
75%     76.500000      79.000000      79.000000
max    100.000000     100.000000     100.000000

 5.- Cantidad de valores nulos por columna:

names                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

 6.- Cantidad de valores 칰nicos por columna:

names                          875
gender                           2
race/ethnicity                   5
parental level of education      6
lunch                            2
test preparation course          2
math score                      79
reading score                   72
writing score                   77
dtype: int64

 7.- Presenta un total de 0 filas con nombres duplicados.

 8.- Las filas con nombres duplicados son:

Empty DataFrame
Columns: [names, gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score]
Index: []

 9.- Boxplot de notas:

**Justificaci칩n:**

```
Escriba aqu칤 su justificaci칩n
```

Dado los problemas que vimos en la columna anterior, procedimos a limpiar el dataframe de la siguiente manera: 

1. Eliminar filas con nombre de estudiantes duplicados. 
2. Reemplazar las casillas que pose칤an un string vac칤o (' ') por np.nan. 
3. Eliminar filas con datos nulos
4. Eliminar filas con notas fuera del rango de 0 a 100.

## 1.3 Trabajando con Datos

<p align="center">
  <img src="https://media3.giphy.com/media/YQitE4YNQNahy/giphy-downsized-large.gif">
</p>

### 1.3.1 Transformaci칩n de notas a "Nota Chilena" [0.5 Puntos]

En una de las reuniones con Don Caguayo este les comenta su intenci칩n de pasar todas sus notas a la "Escala Chilena". Para esto les facilita la siguiente ecuaci칩n:

$$Nota \, Chilena= \% \, de \, logro*0.06 + 1$$

Utilizando la ecuaci칩n entregada, cree una funci칩n que le permita pasar a la escala Chilena las notas que se escapan del rango [1,7] y entregue las notas redondeadas al segundo decimal.

**To-Do**

- [ ] Tranforme los valores a la escala chilena.

**Respuesta:**

In [10]:
# Nota [0, 100] a [0, 7]
def nota_chilena(dataframe_in, columna):
  """Cambia la nota de 0 a 100 a una escala de 0 a 7 mediante
    la f칩rmula NotaChilena = % de logro * 0.06 + 1 redondeano
    al segundo decimal.

    Parameters
    ----------
    dataframe_in : pandas.dataframe
        Base de datos a realizar el cambio de nota
    columna: str
        Nombre de la columna de dataframe_in que se quiere modificar

    Returns
    -------
    dataframe: 
        pd.dataframe con los cambios realizados a la nota
    """
  dataframe_in[columna] = dataframe_in[columna].apply(lambda x: round(x*0.06+1, 2))
  return dataframe_in

### 1.3.2 Obtenci칩n de promedio de alumnos [0.5]

Con todas las notas adjuntadas, la prestigiosa Universidad De la Cacha침a necesita obtener el promedio general de cada uno de los alumnos. Para esto se le solicita que calcule el promedio con cada una de las asignaturas y el promedio se anexe como una nueva columna al final del `DataFrame` original. Cabe se침alar que las notas deben ser redondeadas al segundo decimal.

**To-Do:**
- [ ] Crear funci칩n que nos permite obtener el promedio de cada uno de los alumnos y anexar esta informaci칩n en el `DataFrame` original.

**Respuesta:**

In [11]:
# C치lculo del promedio de alumnos
def alumnos_promedio(dataframe_in):
  """Calcula el promedio simple de las notas redondeadas al segundo decimal.

    Parameters
    ----------
    dataframe_in : pandas.dataframe
        Base de datos que se le agrega la columna del promedio de notas.

    Returns
    -------
    dataframe: 
        pd.dataframe con una columna 'GPA' nueva que contiene el promedio
    """
  # Pasar a nota chilena
  dataframe_in = nota_chilena(dataframe_in, 'math score')
  dataframe_in = nota_chilena(dataframe_in, 'reading score')
  dataframe_in = nota_chilena(dataframe_in, 'writing score')
  # Promedio redondeado
  dataframe_in['GPA'] = round((dataframe_in['math score']+dataframe_in['reading score']+dataframe_in['writing score'])/3, 2)
  return dataframe_in

In [12]:
df_grades = alumnos_promedio(df_grades)
df_grades.head()

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,3.58
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86,5.78
2,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78,5.04
3,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56,5.64
4,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22,6.34

### 1.3.3 Reprobados y Destacados [1.5 Punto, 0.5 Cada DataFrame]

Contentos con su desempe침o, la Universidad les solicita que obtengan los alumnos quienes han reprobado el a침o y los que han tenido desempe침o de destacado. Para esto se considerar치 que un alumno ha reprobado el a침o cuando el promedio de notas es inferior a 4.0 en la Escala Chilena, y se considerar치 destacado si posee notas superiores a 5.8 en todas las asignaturas (o sea notas superiores a 5.8 en `math score`, `reading score` y `writing score`).

Cree una funci칩n que permita obtener tres Dataframes: 
- El primero deber치 poseer solamente los alumnos que han reprobado en la prestigiosa universidad.
- El segundo debe entregar un DataFrame similar al original, pero marcado con una "R" el promedio de notas de los alumnos reprobados.
- El tercero ser치 un Data Frame con los alumnos destacados ordenados de mayor a menor.

**To-Do:**

- [ ] Obtener DataFrame con los alumnos que reprobaron el a침o.
- [ ] Obtener DataFrame similar al original, pero marcados con una "R" el atributo GPA de los alumnos reprobados.
- [ ] Obtener DataFrame con los alumnos destacados ordenados de mayor a menor.

**Respuesta:**

In [13]:
def reprobados_destacados(dataframe_in):
    """Obtiene 3 dataframes; uno con alumnos reprobados, otro con toda la informaci칩n
    y una 'R' a los reprobados y otro con alumnos destacados (que hayan tenido nota
    superior a 5.8 en todas las asignaturas).

    Parameters
    ----------
    dataframe_in : pandas.dataframe
        Base de datos a calcular reprobados y destacados

    Returns
    -------
    dataframe, dataframe, dataframe: 
        3 pd.dataframes con reprobados, alumnos con una 'R' y destacados en orden descendiente.
    """
    # df reprobados
    df_reprobados = dataframe_in[dataframe_in['GPA'].between(0, 4, inclusive='neither')]
    # reindexar
    df_reprobados=df_reprobados.reset_index(drop=True) 
    # df completo con 'R' a los reprobados
    df_R = dataframe_in.copy()
    df_R['GPA'] = df_R['GPA'].apply(lambda x: 'R' if x<4 else x) 
    # reindexar
    df_R=df_R.reset_index(drop=True) 
    # df destacados
    df_destacados = dataframe_in[dataframe_in['math score'].between(5.8, 7, inclusive='right')]
    df_destacados = df_destacados[df_destacados['reading score'].between(5.8, 7, inclusive='right')]
    df_destacados = df_destacados[df_destacados['writing score'].between(5.8, 7, inclusive='right')]
    # orden descendiente
    df_destacados = df_destacados.sort_values(by=['GPA'], ascending=False)
    # reindexar
    df_destacados=df_destacados.reset_index(drop=True) 
    return df_reprobados, df_R, df_destacados

In [14]:
dataframe1, dataframe2, dataframe3 = reprobados_destacados(df_grades)
dataframe1

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,3.58
1,Mikki Amaya,female,group A,high school,free/reduced,completed,3.04,3.88,3.46,3.46
2,Samuel Dougal,male,group C,master's degree,free/reduced,completed,3.76,3.52,3.76,3.68
3,Rodger Talavera,male,group B,high school,free/reduced,none,3.16,2.74,2.62,2.84
4,Morris Johnson,male,group A,associate's degree,free/reduced,completed,3.40,4.30,4.18,3.96
...,...,...,...,...,...,...,...,...,...,...
81,Charles Harian,male,group C,some high school,free/reduced,completed,3.70,4.12,3.94,3.92
82,Wendy Gunnell,female,group D,some high school,free/reduced,none,2.62,3.04,2.92,2.86
83,Diana Costa,female,group C,high school,free/reduced,none,3.46,3.76,3.58,3.60
84,Amy Sieving,female,group C,high school,standard,none,2.74,2.74,2.80,2.76
85,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16,3.06

In [15]:
dataframe2

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Rita Courtney,female,group B,some high school,standard,none,3.22,3.76,3.76,R
1,Charles Linstrom,male,group A,bachelor's degree,standard,completed,5.80,5.68,5.86,5.78
2,Brian Young,male,group C,some high school,standard,none,5.38,4.96,4.78,5.04
3,Howard Jimenez,male,group E,some high school,standard,completed,5.86,5.50,5.56,5.64
4,Wayne Wilson,male,group B,some high school,standard,completed,6.64,6.16,6.22,6.34
...,...,...,...,...,...,...,...,...,...,...
870,Richard Young,male,group D,high school,standard,none,5.14,5.50,5.26,5.3
871,Wanda Russell,female,group B,high school,free/reduced,completed,2.38,3.64,3.16,R
872,Marina Zeigler,female,group C,bachelor's degree,free/reduced,completed,4.96,5.44,5.86,5.42
873,Laurie Carter,female,group B,some high school,standard,completed,4.24,4.66,4.72,4.54
874,Amanda Perez,female,group A,high school,standard,completed,5.08,5.80,5.56,5.48

In [16]:
dataframe3

,names,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,GPA
0,Richard Pryor,male,group E,bachelor's degree,standard,completed,7.00,7.00,7.00,7.00
1,Sandra Pompey,female,group E,associate's degree,standard,none,7.00,7.00,7.00,7.00
2,Elizabeth Beasley,female,group E,bachelor's degree,standard,none,7.00,7.00,7.00,7.00
3,Emma Gray,female,group E,bachelor's degree,standard,completed,6.94,7.00,7.00,6.98
4,Emma Brasher,female,group D,some high school,standard,completed,6.82,7.00,7.00,6.94
...,...,...,...,...,...,...,...,...,...,...
89,Rolando Widmer,male,group C,high school,standard,completed,5.92,6.04,5.92,5.96
90,Lucille Stanphill,female,group C,high school,standard,none,5.86,6.04,5.92,5.94
91,Steven Kelly,male,group D,some college,standard,none,5.86,5.92,6.04,5.94
92,Peter Perez,male,group D,master's degree,standard,none,5.86,5.86,6.04,5.92
93,Harry Berry,male,group B,associate's degree,standard,completed,5.86,5.92,5.92,5.90

**Respuesta:**

```
Escriba aqui su respuesta
```

Para el dataframe de reprobados se filtro a los alumnos que tuvieron un promedio entre 0 y 4 en escala de notas chilena. Luego, para el segundo dataframe se reemplazo por una $R$ en la columna GPA a los alumnos reprobados, y para el tercer dataframe de alumnos destacados se condiciona a que cada ramo la nota sea mayor a 5.8, para luego ordenarlos de mayor a menor.

### 1.3.4 Consultas de Alumnos [0.5 Puntos]

Algunos padres (extremadamente entrometidos y...) preocupados por el desempe침o de sus hijos, desean saber estos han aprobado o no el a침o. Como la tarea de buscar a mano cada uno de estos alumnos en el `DataFrame` resulta demasiado tedioso, el rector le solicita crear una funci칩n que tenga como entrada el `DataFrame` donde se realizar치 la busqueda y una lista con los nombres de los alumnos, luego la funci칩n deber치 retornar un `DataFrame` con los nombres de los alumnos y el promedio general de cada uno. 

Creada la funci칩n busque el promedio general de los siguientes alumnos en el segundo Data frame creado en la secci칩n 1.3.3:

`['Lucille Stanphill','Marcus Mcfarland', 'Matthew Freeman', 'Dana Mojica', 'Paul Hyder', 'Jeffrey Korn', 'Robert Strain',
'Ronald Jett', 'Lorena Reed', 'Hazel Posey']`

**Hint:** Puede serle de utilidad utilizar `isin()`.

**Respuesta:**

In [17]:
def consulta_gpa(dataframe_in, lista_alumnos):
    """Retorna un dataframe con el nombre de los alumnos en la lista junto a su GPA

    Parameters
    ----------
    dataframe_in : pandas.dataframe
        Base de datos de todos los alumnos matriculados
    lista_alumnos : list
        Lista con los nombres de los alumnos a consultar promedio
    Returns
    -------
    dataframe:
        pd.dataframes con el nombre y el promedio GPA.
    """

    dataframe_out = dataframe_in[dataframe_in['names'].isin(lista_alumnos)]
    return dataframe_out[['names','GPA']]


lista_alumnos = [
    "Lucille Stanphill",
    "Marcus Mcfarland",
    "Matthew Freeman",
    "Dana Mojica",
    "Paul Hyder",
    "Jeffrey Korn",
    "Robert Strain",
    "Ronald Jett",
    "Lorena Reed",
    "Hazel Posey",
]
consulta_gpa(dataframe2, lista_alumnos)

                 names   GPA
198  Lucille Stanphill  5.94
372   Marcus Mcfarland  4.86
418    Matthew Freeman     R
421        Dana Mojica     R
675      Robert Strain   4.4
679        Ronald Jett     R
681        Hazel Posey     R
753        Lorena Reed     R

### 1.3.5 Quintiles de Rendimiento [0.5 Puntos]

El rector, intrigado por saber si existe una relaci칩n entre el nivel educacional de los padres y las notas de sus hijos les plantea estudiar dicha relaci칩n. Para esto, les solicita que desde el `DataFrame` que posee a todos los alumnos (`DataFrame` obtenido tras la limpieza), generen una nueva columna que clasifique en quintiles de rendimiento para sus alumnos: `['Baj칤simo', 'Bajo', 'Medio', 'Alto', 'Muy alto']`. (investigar `qcut()`)

Hecho esto, grafique a trav칠s de un scatter plot el nivel educacional de los padres v/s el promedio de los alumnos, utilice los cuantiles generados anteriormente para mostrar en que cuantil se encuentra cada uno de los datos.

Realizado el grafico, responda la siguiente pregunta: **쮼s posible visualizar alguna tendencia en el gr치fico?.**

**Respuesta:**

In [18]:
# C칩digo para quintiles 
# La variable que contenga los quintiles debe llamarse GPA cuantiles para que el gr치fico funcione.
df_grades['GPA cuantiles'] = pd.qcut(df_grades.GPA, q=5,
                        labels=['Baj칤simo', 'Bajo', 'Medio', 'Alto', 'Muy alto'])

# C칩digo de gr치fico 
fig = px.scatter(
    df_grades.sort_values(by="GPA"),
    x="GPA",
    y="parental level of education",
    hover_data=["gender"],
    color="GPA cuantiles",
    title="GPA por Nivel de educaci칩n de los padres",
    color_discrete_sequence=["tomato", "orange", "yellow", "greenyellow", "green"]
)

fig

```
Escriba aqui su respuesta
```

Se puede observar en el gr치fico que la distribuci칩n de promedios GPA est치 equitativamente repartidos para todos los niveles de educaci칩n de los padres. Sin embargo, para el quintil m치s bajo se puede apreciar que los alumnos con peor rendimiento est치n relacionados a padres con una educaci칩n m치s precaria.

# Conclusi칩n
Eso ha sido todo para el lab de hoy, recuerden que el laboratorio tiene un plazo de entrega de una semana. Cualquier duda del laboratorio, no duden en contactarnos por mail o U-cursos.

<p align="center">
  <img src="https://media1.tenor.com/images/2f7df460196625edc45b8380d158e5ee/tenor.gif?itemid=16669403">
</p>

<br>
<center>
<img src="https://i.kym-cdn.com/photos/images/original/001/194/195/b18.png" width=100 height=50 />
</center>
<br>

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=87110296-876e-426f-b91d-aaf681223468' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>